version: "3.9"

services:
  db:
    build:
      context: ./db
    container_name: db
    image: 3tier-local-db
    restart: always
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - 3tier-net
    ports:
      - "5432:5432"

  api:
    build:
      context: ../app/api
    container_name: api
    image: 3tier-local-api
    restart: on-failure
    environment:
      FLASK_ENV: development
      DATABASE_URL: postgresql://admin:admin123@db:5432/appdb
    depends_on:
      - db
    ports:
      - "5000:5000"
    networks:
      - 3tier-net

  web:
    build:
      context: ../app/web
    container_name: web
    image: 3tier-local-web
    restart: on-failure
    ports:
      - "8080:80"
    depends_on:
      - api
    environment:
      VUE_APP_API_URL: http://localhost:5000
    networks:
      - 3tier-net

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.dev
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - db
    networks:
      - 3tier-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - 3tier-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin123
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    volumes:
      - ./monitoring/grafana-provisioning/:/etc/grafana/provisioning/
    networks:
      - 3tier-net

networks:
  3tier-net:

volumes:
  db_data:
