alertmanager:
  enabled: true

server:
  service:
    type: LoadBalancer

  retention: 15d
  persistentVolume:
    enabled: true
    size: 20Gi

rbac:
  create: true

serviceAccounts:
  server:
    create: true
